<div class="row">           
    <div id="content" class="col-sm-12">
<div class="row">           
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading"><h2 id="title" class="text-center">EpicGG News Widget</h2></div>
            <div class="panel-body">
                <img id="image" src="" alt="title" class="img-thumbnail hidden">
                <p id="summary"></p>
				<p id="readArticle" class= "hidden"><a href="" id="article" target="_blank"><button class="btn btn-primary">Read More</button></a></p>
                <p id="getArticlesBtn"><button id="getArticles" class="btn btn-primary">Find Most Recent News!</button></p>
                <div id="comments">   
               	    <h3 class="text-center text-primary">Comments</h3>
                	<div id="articleComments">                		
                	</div>	
                    <h3 class="text-center text-primary">Add Comment</h3>
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                    <div class="form-group">
                          <label for="commentText">Comment:</label>
                          <textarea class="form-control" rows="5" id="commentText"></textarea>
                    </div>
                    <button id="addComment" class="btn btn-primary btn-xs">Add Comment</button>
                </div>    
            </div>
            <div class="panel-footer">
            	<div id="navigation">
                </div>        
            </div>
        </div>
    </div>            
</div>